* {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 13%);
  color: rgb(240, 240, 240);
}
.body-container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar navbar" "sidebar main" "sidebar footer";
}
nav {
  position: sticky;
  top: 0;
  grid-area: navbar;
  border-bottom: 2px solid white;
  padding: 10px;
}
aside {
  position: sticky;
  top: 52.5px;
  grid-area: sidebar;
  align-self: start;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
