.card {
  border: 1px solid hsl(0, 0%, 57%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(0, 0%, 0%);
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}
.card .card-image {
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card .card-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: rgb(32, 32, 32);
}
.card .card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(25, 126, 214);
}

.student {
  font-family: Arial, serif;
  font-size: 2em;
  padding: 10px;
  border: 1px solid hsl(0, 84%, 24%);
}
.student p {
  margin: 0;
}
.welcome-message {
  font-size: 2.5em;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.login-prompt {
  font-size: 2.5em;
  background-color: rgb(136, 20, 20);
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
}
.basket-title {
  background-color: rgb(94, 25, 184);
  color: blanchedalmond;
  margin: 0;
  padding-left: 10px;
}
.list-items {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-top: 0%;
  border: 1px solid rgb(94, 25, 184);
}
.list-items li {
  color: rgb(23, 23, 143);
  list-style: none;
}
.list-items li:hover {
  color: brown;
  cursor: crosshair;
  padding: 0;
}

/*header {
  position: sticky;
  top: 0;
  background: rgb(126, 117, 117);
  color: azure;
}
body {
  min-height: auto;
  display: flex;
  flex-direction: column;
}
footer {
  margin-top: auto;
  text-align: right;
}
*/
.counter-container {
  text-align: center;
  font: Arial, sans-serif;
}
.count-display {
  font-size: 10em;
  margin-top: 0;
  margin-bottom: 50px;
}
.counter-button {
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: rgb(22, 97, 97);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.counter-button:hover {
  background-color: black;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.color-picker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 50px;
  font-size: 3rem;
}
.color-display {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid grey;
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p {
  color: blue;
  font-size: 2rem;
  text-align: center;
}
label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}
input[type="color"] {
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid grey;
}
